.links
    display: flex
    align-items: center
    justify-content: center
    gap: 20px
    
    

.links
    a
        text-decoration: none


.divkbira
    a
        color: grey


.divkbira
    img
    
        padding-top: 80px


.images
    display: flex
    align-items: center
    justify-content: space-evenly

    
    


.imge
    display: flex
    align-items: center
    justify-content: space-evenly
    
    




.imgd
    display: flex
    align-items: center
    justify-content: space-evenly




.imgw
     display: flex
     align-items: center
     justify-content: space-evenly


.diiif
    display: flex
    gap: 30px
    padding-top: 80px


.dovvv
     display: flex
     gap: 30px
     padding-top: 80px


.diddiv
    padding-right: 20px
    

.blogf
    padding-left: 50px


//     @media (max-width: 425px) {
//     .blogf{
//         flex-direction: column
//     }
//     .blogf>div{
//         width: 100%
//     }
// }
